POSTGRES_USER=simplykb
POSTGRES_PASSWORD=simplykb
POSTGRES_DB=simplykb
PARADEDB_PORT=25432
SIMPLYKB_DATABASE_URL=postgres://simplykb:simplykb@localhost:25432/simplykb?sslmode=disable
SIMPLYKB_EMBEDDING_URL=
SIMPLYKB_EMBEDDING_API_KEY=
SIMPLYKB_EMBEDDING_MODEL=
SIMPLYKB_EMBEDDING_DIMENSIONS=
SIMPLYKB_EMBEDDING_TIMEOUT_SECONDS=30
